 <%- layout("./layouts/boilerplate.ejs") -%>
<body>
    <br><br>
    <h3 class="offset-2"><u>Edit the details </u></h3>
    <div class="row">
    <form method="POST"  action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" enctype="multipart/form-data " novalidate>
        <div class="col-8 offset-2">
         <div class="mb-3">   
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title %>" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid title</div>
        </div>
        <div class="mb-3">   
            <label for="description" class="form-label">Description</label>
           <textarea name="listing[description]" class="form-control" required><%=listing.description %></textarea>
           <div class="invalid-feedback">Description should be under 200 words</div>
         </div>
         <div class="mb-3"> 
            Original Listing image<br>
            <img src="<%=listing.image.url%>" alt="">  
         </div>
         <div class="mb-3">   
            <label for="image" class="form-label">Upload New Image</label>
            <input
             name="listing[image]" 
             type="file" class="form-control" >
            <div class="invalid-feedback">Please Enter valid image link</div>
        </div>
        <div class="row">
        <div class="col-md-4">
        <div class="mb-3">   
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" value="<%=listing.price %>" type="number" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid price value</div>
        </div>
        </div>
        <div class="col-md-8">
            <div  class="mb-3">   
            <label for="country" class="form-label">country</label>
           <input name="listing[country]" value="<%=listing.country %>" class="form-control" required>
           <div class="invalid-feedback">Please Enter valid country name</div>
      </div>
      </div>
      </div>
        <div class="mb-3">   
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%=listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid location</div>
        </div>
       
    <button class="btn btn-dark add-btn">Edit</button>
    <br><br><br>
    </div>
    </form>
</div>
</body>


<!--listing image is to be taken into the cosideration and hence managed accrodingly the value is always and considerate and managedand it has certain set of driven output values -->